name: Update Profile README.md

on:
  push:
    branches:
      - main
  workflow_dispatch:

  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Verificar probabilidad de ejecución
        id: random
        run: |
          RANDOM_NUM=$(( $RANDOM % 4 ))
          echo "should_run=$RANDOM_NUM" >> $GITHUB_OUTPUT
      - name: Ejecutar actualización
        if: steps.random.outputs.should_run != '3'
        run: |
          npm install
          npm run update
          git config user.name jotagep
          git config user.email jotagepweb@gmail.com
          git add README.md
          git diff --quiet && git diff --staged --quiet || git commit -m "[actions] Update README with last info"
          git push origin main
